@import "globals";
@import "variables";

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #161220;
  border: 1px #0fada4 solid;
  border-radius: 5px;
  padding: 20px;
  margin: 0px;
  height: 450px;
  width: 350px;
}

.display-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 3px;
  margin-bottom: 25px;
  width: 100%;
  height: 75px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}

#clear {
  background-color: #4abcad;
}

#pos-neg {
  background-color: #4abcad;
}

#modulus {
  background-color: #4abcad;
}

#equals {
  background-color: #f8b732;
}

#zero {
  grid-column: 1 / span 2;
}

.operators {
  background-color: #ff533d;
}
